html,body{
    height: 100%;
}

.table-block {
    display: table;
    width: 100%;
    height: 100vh;
}

.table-cell-block {
    display: table-cell;
    vertical-align: middle;
}

.scroll-table{
    display: block;
    overflow-x: auto;
    white-space: nowrap;

}

.numberContract {
    padding: 5px;
    text-align: center; 
    color: #F7F7F7;
    font-weight: bold;
    
    display: inline-block;
    background: #858796;
    border-radius: 10px;
}

.numberContract:hover {
 font-size: 21px;
 text-decoration: none;
 color: #F7F7F7;
}